<div class="center jumbotron" id="main_pic">
    <div class="container">
        <div class="titleheader"> 
            <h1> ACM @ UGA </h1>
            <h2> Meaningful. Advantageous. Fun. </h2> 
        </div> 
        <a href="https://facebook.com/ugaacm/">
            <i class="fa fa-facebook-official fa-2x"></i>
        </a> 
        <i class="fa fa-twitter-square fa-2x"></i>
    </div>
</div>
