// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/*
@media (min-width: 1200px){{
   .container{
        max-width: 970px; 
   }
}
*/

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    padding-top: 105px;
}

section {
    overflow: auto;
}

footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #999999; 
    text-align: center;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    color: white;
}

.center h1 {
    margin-bottom: 10px;
}

#logo {
    float: left;
    margin-right: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
}

#main_pic {
    background: url("GoogleEvent.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 20%;
}


